<nav mat-tab-nav-bar >
  <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    {{link.label}}</a>
</nav>
<router-outlet></router-outlet>
<!-- 
<mat-tab-group>
  <mat-tab label="Tab 1" [tabPanel]="panel1">Content 1</mat-tab>
  <mat-tab label="Tab 2" [tabPanel]="panel2">Content 2</mat-tab>
</mat-tab-group>

<mat-tab-group>
  <ng-template matTabLabel>Tab 1</ng-template>
  <div matTabContent>Content 1</div>
  <ng-template matTabLabel>Tab 2</ng-template>
  <div matTabContent>Content 2</div>
</mat-tab-group>
 -->