.example-container mat-form-field+mat-form-field {
    margin-left: 8px;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

/* input.example-right-align {
    -moz-appearance: textfield;
} */
mat-form-field {
    width: 20vw;
    ;
}

.example-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;

}

.center-container {
    text-align: center;
    transform: translate(0, -10vh);
    background-color: rgb(48, 48, 48);
    width: 30vw;
    height: 42vh;
}

.example-container mat-form-field {
    width: 20vw;
    margin: auto;
}

mat-checkbox {
    color: black;
}

.example-margin {
    margin: 0 10px;
    color: black;
}